<div class="container">
<%= form_for(@attack) do |f| %>
  <% if @attack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attack.errors.count, "error") %> prohibited this attack from being saved:</h2>

      <ul>
      <% @attack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="page-header">
  <h1 class="text-center" style="word-break:break-word;">
  	New Attack: <%= @lastAttackID %><br>
    <small><%= @myURL %></small>
  </h1>
  </div>

  <%= f.hidden_field :attackID, :value => @lastAttackID %>
  	
  	<% if !@matches.nil? %>
  	<div>
  		Related Attacks:
  		<br>
  		<div class="well well-sm pre-scrollable">
  		<% @matches.each do |match|%>
  			<% atck = Attack.find(match[:id])%>
  			<a href="/attacks/<%=atck.id%>"><%= match[:url] %></a> <br>
  		<% end %>
  		</div>
  	</div>
  	<% end %>

    <div class="field">
      <%= f.label :url, :class => "h3"%><span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-left: 3px"></span><br>
      <%= f.text_field :url, :value => @myURL, :class => "form-control input-lg" %>
    </div>
    <div class="field">
      <%= f.label :functionality, :class => "h3" %><span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-left: 3px"></span><br>
      <%#= f.text_field :functionality %>
      <%= f.select(:functionality, ['Landing Page','Redirection','Drop Point','Secondary Attack Page'],{}, { :class => "form-control input-lg"})%>
    </div>
    <div class="field">
      <%= f.label :target, :class => "h3" %><span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-left: 3px"></span><br>
      <%= f.text_field :target, :class => "form-control input-lg" , :placeholder => "Target"%>
    </div>
    <div class="field">
      <%= f.label :notes, :class => "h3" %><span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-left: 3px"></span><br> 
      <%= f.text_field :notes, :class => "form-control input-lg", :placeholder => "Type any additional notes here...", :style=>"height:100%"%>
      
    </div>
    <div class="field">
      add an image....
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit :class=>"btn btn-lg pull-right", :style=>"padding:7px; margin-top:3%;"%>
    </div>
<% end %>
</div>