  <%=form_for :attack, url: url_for( :controller => :attacks, :action => :check), :method => :get do |f| %>
      <div class="field">
        <%= f.label :url %><br/>
        <%= f.text_field :url %>
      </div>

    <div class="actions">
      <%= f.submit "Next" %>
    </div>
  <% end %>

<div class="afterCheck">
<%= form_for(@attack) do |f| %>
  <% if @attack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attack.errors.count, "error") %> prohibited this attack from being saved:</h2>

      <ul>
      <% @attack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>
    attackID last <%= @lastAttackID %>
    URL: <%= @myURL %>
  </h1>

  <%= f.hidden_field :attackID, :value => @lastAttackID %>
  <%= f.hidden_field :registrationDate, :value => "" %>

    <div class="field">
      <%= f.label :url %><br>
    <%# @myURL.defined? %>
      <%= f.text_field :url, :value => @myURL %>
    </div>
    <div class="field">
      <%= f.label :functionality %><br>
      <%#= f.text_field :functionality %>
      <%= f.select :functionality, options_for_select([['Landing Page'], ['Redirection'], ['Drop Point'], ['Secondary Attack Page']])%>
    </div>
    <div class="field">
      <%= f.label :target %><br>
      <%= f.text_field :target %>
    </div>
    <div class="field">
      <%= f.label :notes %><br>
      <%= f.text_field :notes %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
</div>
