<%= form_for(@attack) do |f| %>
  <% if @attack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attack.errors.count, "error") %> prohibited this attack from being saved:</h2>

      <ul>
      <% @attack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Attack" %> <%= f.label :"Status" %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :"Case" %> <%= f.label :"ID", style:"text-transform: uppercase" %><br>
    <%= f.text_field :caseID %>
  </div>
  <div class="field">
    <%= f.label :attackID %><br>
    <%= f.text_field :attackID %>
  </div>
  <div class="field">
    <%= f.label :functionality %><br>
    <%= f.text_field :functionality %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :dateRecorded %><br>
    <%= f.text_field :dateRecorded %>
  </div>
  <div class="field">
    <%= f.label :registrationDate %><br>
    <%= f.text_field :expireryDate %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.text_field :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.text_field :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
