<!-- <p id="notice"><%#= notice %></p> -->

<div class="row">
  <div class="col-xs-12" style="padding-right: 0px;">
    <div class="page_content" id="page_content">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4 buttons">
           <% if user_signed_in? %>
              <%= link_to '<button type="button" class="btn _button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>'.html_safe, new_attack_path%>
           <% else %>
              <%= link_to '<button type="button" class="btn _button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>'.html_safe, new_user_session_path%>
           <% end %>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-5">
          <%= form_tag search_attacks_path, method: :get, class: "input-group", style:"width: 100%" do %>
							<%= button_tag(type: "submit", class: "glyphicon glyphicon-search", id: "search_button") do %>
							<% end %>
							<%= text_field_tag :search, params[:search], class:"form-control search_box", placeholder:"Search for a case" %>
					<% end %>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr id="header_row">
            <th>Status</th>
            <th><div align="center" style="width:100%">URL</div></th>
            <th>Attack ID</th>
            <th>Target</th>
            <th>Detection Time</th>
          </tr>
        </thead>

        <tbody>
          <% @attacks.each do |attack| %>
              <tr class="clickable-row" data-href="/attacks/<%=attack.id%>">
                <td><%= attack.status %>
                <td align="center"><div class="URL" align="center"><%= attack.url %></div></td>
                <td>
                  <%= attack.attackID %>
                </td>
                <td><%= attack.target %></td>
                <td><%= attack.registrationDate %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
      <!-- render page links in the view: -->
      <footer class="footer" style="min-height: 100%;">
      <%= will_paginate @posts %>
      </footer>
    </div>
  </div>
</div>

<script>
// makes the table rows clickable
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
