<!-- <p id="notice"><%= notice %></p>

<div class="row">


  <div class="col-xs-9 col-sm-10">
    <div class="page_content" id="page_content"> -->
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <!-- <li>Case ID: <%= @attack.caseID %></li> -->
        <li class="active">Attack ID: <%= @attack.attackID %></li>
      </ol>
      <!-- Status and URL -->
      <div class="container">
      <div class="row">
        <div class="col-xs-4" id="status_box">
          <img src="/assets/green_check.png" alt="OK" class="img-circle status_img">
          <span style="margin-left:10px; font-size:1.2em">Status: <span class="info"><%= @attack.status %></span></span><br>
          <span style="margin-left:10px; font-size:.7em">Last check: <span class="info">7FEB2017</span></span>
          <%#= link_to 'Update Status', update_status_attacks_path(@attack) %>
            <% if user_signed_in? %>
              <%=form_for :attack, url: url_for( :controller => :attacks, :action => :update_status), :method => :get do |f| %>
                <%= f.hidden_field :url, :value => @attack.url %>
                <%= f.hidden_field :id, :value => @attack.id %>
                <div class="actions btn">
                  <%= f.submit "Update Status" %>
                </div>
              <% end %>
            <% else %>
              <%= link_to '<button type="button" class="btn _button pull-left" style="margin-left: 10px;"><span class="glyphicon glyphicon-refresh pull-right" style="margin-left:7px"  aria-hidden="true"></span>Update Status</button>'.html_safe, new_user_session_path %>
            <% end %>
        </div>
        <div class="col-xs-8" id="url_box">
          <span style="font-size:1.2em">URL: <%= @attack.url %></span>
        </div>
      </div>

      <!-- Site Traffic & Some Details -->
      <div class="row" style="font-size: 1.2em; margin-top: 20px">
        <div class="col-xs-12 col-sm-5">
          <div class="site_traffic_box well" align="center">
           <% if @attack.image_url.blank?%>
           Screenshot currently unavailable.
           <% else %>
           <%= image_tag(@attack.image_url.to_s, :style=>'height: 150px;')%>
           <% end %>
            
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <div class="row">
            <div class="col-xs-6">
              <div class="info_box well">
                <span class="gold">Attack ID:</span> <% if @attack.attackID.blank?%>Unavailable<% end %><%= @attack.attackID %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="info_box well">
                <span class="gold">Date Recorded:</span> <% if @attack.created_at.blank?%>Unavailable<% end %><%= @attack.created_at %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="info_box well">
                <span class="gold">Domain:</span> <% if @attack.domain.blank?%>Unavailable<% end %><%= @attack.domain %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="info_box well">
                <span class="gold">Last Status Check:</span> <% if @attack.registrationDate.blank?%>Unavailable<% end %><%= @attack.registrationDate %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="info_box well">
                <span class="gold">Registration Date:</span> <% if @attack.registrationDate.blank?%>Unavailable<% end %><%= @attack.registrationDate %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="info_box well">
                <span class="gold">Expiry Date:</span> <% if @attack.expireryDate.blank?%>Unavailable<% end %><%= @attack.expireryDate %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="info_box well">
                <span class="gold">Target:</span> <% if @attack.target.blank?%>Unavailable<% end %><%= @attack.target %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="info_box well">
                <span class="gold">Function:</span> <% if @attack.functionality.blank?%>Unavailable<% end %><%= @attack.functionality %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="font-size: 1.2em">
        <div class="col-xs-12 col-sm-5">
          <div class="panel well">
            <strong> Notes: </strong> <br>
            <pre>
            <% if @attack.notes.blank?%>There are currently no notes on this attack.<% end %>
            <%= @attack.notes %>
            </pre>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <div class="_button2" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" >
            Advanced...
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 collapse" id="collapseExample">
          <div class="well2">
            <div class="row" style="margin: 0px 0px 0px 0px;">
              <strong>WhoIs Information:</strong>
                <pre>
                   <% if @attack.whois_text.blank?%>WhoIs Information currently unavailable<% end %>
                  <%= @attack.whois_text %>
                </pre>
            </div>
          </div>
        </div>
      </div>


      <!-- <strong>Attack type:</strong>
      <%#= @attack.attack_type %>
      <strong>Detection method:</strong>
      <%#= @attack.detection_method %> -->



       <% if user_signed_in? %>
          <%= link_to '<button type="button" class="btn btn-lg pull-right _button" style="padding:7px 20px; margin-top:3%; margin-left: 1%"><span class="glyphicon glyphicon-pencil pull-right" style="margin-left:7px"  aria-hidden="true"></span>Edit Attack</button>'.html_safe, edit_attack_path(@attack) %>
       <% else %>
          <%= link_to '<button type="button" class="btn btn-lg pull-right _button" style="padding:7px 20px; margin-top:3%; margin-left: 1%"><span class="glyphicon glyphicon-pencil pull-right" style="margin-left:7px" aria-hidden="true"></span>Edit Attack</button>'.html_safe, new_user_session_path%>
       <% end %>
       <%= link_to '<button type="button" class="btn btn-lg pull-left _button" style="padding:7px 20px; margin-top:3%; margin-left: 1%"><span class="glyphicon glyphicon-arrow-left pull-left" style="margin-right:7px"  aria-hidden="true"></span>Back</button>'.html_safe,  attacks_path %>
       </div>
      <%#= link_to 'Back', attacks_path %>
    <!--</div>
    </div>
</div> -->
