<!-- <p id="notice"><%= notice %></p>

<div class="row">


  <div class="col-xs-9 col-sm-10">
    <div class="page_content" id="page_content"> -->
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <!-- <li>Case ID: <%= @attack.caseID %></li> -->
        <li class="active">Attack ID: <%= @attack.attackID %></li>
      </ol>
      <!-- Status and URL -->
      <div class="row">
        <div class="col-xs-4" id="status_box">
          <img src="/assets/green_check.png" alt="OK" class="img-circle status_img">
          <span style="margin-left:10px; font-size:1.2em">Status: <span class="info"><%= @attack.status %></span></span><br>
          <span style="margin-left:10px; font-size:.7em">Last check: <span class="info">7FEB2017</span></span>
          <%#= link_to 'Update Status', update_status_attacks_path(@attack) %>
            <%=form_for :attack, url: url_for( :controller => :attacks, :action => :update_status), :method => :get do |f| %>
              <%= f.hidden_field :url, :value => @attack.url %>
              <%= f.hidden_field :id, :value => @attack.id %>
              <div class="actions btn">
                <%= f.submit "Update Status" %>
              </div>
            <% end %>
        </div>
        <div class="col-xs-8" id="url_box">
          <span style="font-size:1.2em">URL: <%= @attack.url %></span>
        </div>
      </div>

      <!-- Site Traffic & Some Details -->
      <div class="row" style="font-size: 1.2em; margin-top: 20px">
        <div class="col-xs-12 col-sm-5">
          <div class="site_traffic_box well" align="center">
            <%= image_tag(@attack.image_url.to_s, :style=>'height: 150px;')%>
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <div class="row">
            <div class="col-xs-6">
              <div class="info_box well">
                Attack ID: <%= @attack.attackID %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="info_box well">
                Date Recorded: <%= @attack.created_at %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="info_box well">
                Domain: <%= @attack.domain %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="info_box well">
                Last Status Check: <%= @attack.registrationDate %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="info_box well">
                Registration Date: <%= @attack.registrationDate %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="info_box well">
                Expiry Date: <%= @attack.expireryDate %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="info_box well">
                Target: <%= @attack.target %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="info_box well">
                Function: <%= @attack.functionality %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="font-size: 1.2em">
        <div class="col-xs-12 col-sm-5">
          <div class="site_traffic_box well">
            Location box
          </div>
        </div>
        <div class="col-xs-12 col-sm-7">
          <div class="_button2" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Advanced...
          </div>
        </div>
        <div class="col-xs-12 col-sm-7 collapse" id="collapseExample">
          <div class="well2">
            <div class="row">
              <strong>Notes:</strong>
                <pre>
                  <%= @attack.notes %>
                </pre>
            </div>
          </div>
        </div>
      </div>


      <!-- <strong>Attack type:</strong>
      <%#= @attack.attack_type %>
      <strong>Detection method:</strong>
      <%#= @attack.detection_method %> -->




      <%= link_to 'Edit', edit_attack_path(@attack) %> |
      <%= link_to 'Back', attacks_path %>
    <!--</div>
    </div>
</div> -->
