<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-xs-3 col-sm-2">
      <div class="sidebar_nav_container" align="center">
        <div class="sidebar_nav_entry"><a href="/">Dashboard</a></div>
        <div class="sidebar_nav_entry"><a href="/pages/about">About</a></div>
        <div class="sidebar_nav_entry"><a href="/pages/contact">Contact Us</a></div>
      </div>
    </div>
    <div class="col-xs-9 col-sm-10 page_content">
      <div class="row">
        <div class="col-xs-3">
          <a class="btn btn-default" href="#" role="button">Check Status</a>
          <%= link_to 'New Attack', new_attack_path, :class=>'btn btn-default' %>
        </div>
        <div class="col-xs-3 col-xs-offset-6">
          Search Box
          <!-- <%#= form_tag search_attacks_path, method: :get, class: "input-group", style:"width: 100%;" do %>
						<p>
							<%#= button_tag(type: "submit", class: "btn", id: "search_button") do %>
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							<%# end %>
							<%#= text_field_tag :search, params[:search], class:"form-control", :id =>"search_box", placeholder:"Search for a case", style:"width: 100%" %>
						</p>
					<%# end %> -->
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Status</th>
            <th><div align="center" style="width:100%">Url</div></th>
            <th>Case ID</th>
            <th>Target</th>
            <!-- <th>Attack type</th> -->
            <th>Detection Time</th>
            <!-- <th>Detection Method</th> -->
            <!-- <th>Notes</th> -->
            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
          <% @attacks.each do |attack| %>
            <tr>
              <td><%= attack.status %></td>
              <td align="center"><div class="URL" align="center"><%= attack.url %></div></td>
              <td><%= attack.case_id %></td>
              <td><%= attack.client %></td>
              <!-- <td><%#= attack.attack_type %></td> -->
              <td><%= attack.detection_time %></td>
              <!-- <td><%#= attack.detection_method %></td> -->
              <!-- <td><%#= attack.notes %></td> -->
              <!-- <td><%#= link_to 'Show', attack %></td>
              <td><%#= link_to 'Edit', edit_attack_path(attack) %></td>
              <td><%#= link_to 'Destroy', attack, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
