<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webhost.name %>
</p>

<p>
  <strong>Attackid:</strong>
  <%= @webhost.attackID %>
</p>

<%= link_to 'Edit', edit_webhost_path(@webhost) %> |
<%= link_to 'Back', webhosts_path %>
