<!DOCTYPE html>
<html>
<head>
  <title>Centurion</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/centurion_1.png" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<%= render 'layouts/navbar' %>

	<!--<p class="notice"><%#= notice %></p>
    <p class="alert"><%#= alert %></p>-->

	<div class="container-fluid">
		<%= yield %>
	</div>

	<%#= render 'layouts/footer' %>
</body>
</html>
