<!DOCTYPE html>
<html>
<head>
  <title>Phase1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- Bootstrap partial -->
 	<%= render 'layouts/bootstrap' %>

</head>
<body>
	<%= render 'layouts/navbar' %>

	<!--<p class="notice"><%#= notice %></p>
    <p class="alert"><%#= alert %></p>-->

	<div class="container-fluid">
		<%= yield %>
	</div>

	<%= render 'layouts/footer' %>
</body>
</html>
